<template>
  <div style="width: 100%; height: 100%">
    <!-- <Layout></Layout> -->
    <router-view></router-view>
    <div id="childTwo"></div>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#childTwo,
#vueapp1 {
  width: 100%;
  height: 100%;
}
div[data-name="dist-vue"] {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
</style>
